# Build Results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.obj
*.exe
*.pdb
*.ipch
*.log
*.vcxproj.user
*.tlog/
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ncb
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/
main/.vs/

# VS Code and IDE stuff
.vscode/

# Other
config.json
profile.json
*.user
*.bak
*.tmp
*.swp
*.zip
*.7z

# NuGet
packages/
nuget.exe
*.nupkg

# Windows Image files
Thumbs.db
ehthumbs.db
Desktop.ini
