name: Build Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Restore NuGet packages
      run: nuget restore "main/MIDI Mapper/packages.config" -OutputDirectory "main/MIDI Mapper/packages"

    - name: Build Solution
      run: msbuild main/MidiMapper.sln /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143
